<header class="p-3 bg-dark">
  <div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li *ngFor="let category of category">
                  <a routerLink="/category/{{category.id}}" routerLinkActive="active" class="dropdown-item">{{category.name}}</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li><a class="dropdown-item" routerLink="/allcontent" routerLinkActive="active">Search Content</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <button class="btn btn-dark" routerLink="/stars">Stars</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-dark" routerLink="/directors">Directors</button>
            </li>

          </ul>
          <!--Authenticated is false -->
          <div *ngIf="!isAuthenticated()" class="text-end">
            <button type="button" routerLink="login" class="btn btn-outline-light me-2">Login</button>
            <button type="button" routerLink="register" class="btn btn-warning">Sign-up</button>
          </div>

          <!--Authenticated is true -->
          <div *ngIf="!checkIfAdmin() && isAuthenticated()" class="dropdown text-end">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><a class="nav-link fs-4" style="color: orange;">Welcome {{user.firstName}}</a></li>

              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="profile">Profile</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#" (click)="logOut()">Sign out</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--Authenticated end -->
          <div *ngIf="checkIfAdmin()" class="dropdown text-end">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="nav-link fs-4" style="color: orange;">Admin {{user.firstName}}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Content</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" routerLink="/addcontent" routerLinkActive="active">Add</a></li>
                      <li><a class="dropdown-item" routerLink="/updatecontent" routerLinkActive="active">Update</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Category</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" routerLink="/addcategory" routerLinkActive="active">Add</a></li>
                      <li><a class="dropdown-item" routerLink="/updatecategory" routerLinkActive="active">Update</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Star</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" routerLink="/addstar" routerLinkActive="active">Add</a></li>
                      <li><a class="dropdown-item" routerLink="/updatestar" routerLinkActive="active">Update</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Director</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" routerLink="/adddirector" routerLinkActive="active">Add</a></li>
                      <li><a class="dropdown-item" routerLink="/updatedirector" routerLinkActive="active">Update</a></li>
                    </ul>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="#" (click)="logOut()">Sign out</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>