.navbar-header {
    background-color: rgb(24, 24, 24);
}

.active {
    background-color: orange;
}

.dropdown-item:active {
    background-color: orange;
}

.dropdown-divider {
    background-color: white;
}

.bi-person-circle {
    font-size: 25px;
}