.navbar-header {
    background-color: rgb(24, 24, 24);
}

.active {
    background-color: orange;
}

.dropdown-item:active {
    background-color: orange;
}

.dropdown-divider {
    background-color: white;
}

.bi-person-circle {
    font-size: 25px;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}