<form class="form text-center">
    <div class="title">Star Delete</div>
    <div class="subtitle">Let's delete Star !</div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-container ic1" >
                <select (change)="(title.value)" [(ngModel)]="currentStar.starId" [ngModelOptions]="{standalone: true}" class="input form-select bg-dark" aria-label="Default select example" #title id="content">
                    <option *ngFor="let star of star" [value]="star.starId" >
                        {{star.firstName + star.lastName}}
                    </option>
                </select>
                <div class="cut"></div>
                <label for="content" class="placeholderr">Select Star</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-2">
            <button type="text" (click)="remove(currentStar.starId)" class="submit">Delete</button>
        </div>
    </div>
</form>