<div class="container my-3">
    <h3 class="featurette-heading">{{star.firstName + " " + star.lastName}}<span class="text-muted"> ({{star.bornDate | date:"mediumDate"}})</span></h3>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <p class="lead">{{star.bio}}</p>
        </div>
        <div class="col-md-4 ">
            <img class="featurette-image" [src]="star.imagePath !== null ? starImageURL+star.imagePath :'https://localhost:44341/images/stars/defaultImage.jpg'" style="max-width: 85%;"
                alt="{{star.firstName + star.lastName}}">
        </div>
    </div>
    <!-- Gallery -->
    <h1 class="fw-light text-center text-lg-start mt-4 mb-0 featurette-heading">Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">

        <div class="col-lg-3 col-md-4 col-6" *ngFor="let starImage of starImage">
            <a href="" data-bs-toggle="modal" data-bs-target="#ss" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" (click)="getImage(starImage)" src="{{starImageURL + starImage.imagePath}}" alt="">
            </a>
        </div>

        <div class="modal fade" id="ss" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img class="img" [src]="putImage()" style="max-width: 90%;" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Gallery -->
</div>