.bi-arrow-right {
    font-size: 50px;
    color: orange;
}

.bi-trash {
    font-size: 40px;
    color: rgb(185, 53, 53);
}

.bi-star-fill {
    color: orange;
}

.bi-trash:hover,
.bi-arrow-right:hover {
    cursor: pointer;
    color: wheat;
}

.container:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
    font-size: 24px;
    color: orange;
}

.imdb {
    font-size: 20px;
}

.description {
    font-size: 20px;
}

.route {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
}

.gotoroute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
}

.poster {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.row span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin: 10px;
}

.modal-content {
    background-color: #1e2229;
}

.modal-content .modal-header,
.modal-content .modal-footer {
    border-color: #424242;
}

.btn-close {
    background-color: white;
}


.links {
    background-color: #123;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 2em;
}

.links>a {
    color: #9ab;
    padding: .25em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
}

.links>a:hover {
    background: #ffffff06;
    color: #adf;
}

.links>.line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}


.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.links>.line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links>a:hover~.line {
    opacity: 1;
}

.links>a:nth-of-type(1):hover~.line {
    --index: 1;
}

.links>a:nth-of-type(2):hover~.line {
    --index: 2;
}

.links>a:last-of-type:hover~.line {
    --index: var(--items);
}