.bi-arrow-right {
    font-size: 50px;
    color: orange;
}



.bi-trash{
    font-size: 40px;
    color: rgb(185, 53, 53);
}

.bi-star-fill{
    color: orange;
}

.bi-trash:hover,.bi-arrow-right:hover{
    cursor: pointer;
    color: wheat;
}
.container:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
    font-size: 24px;
    color: orange;
}

.imdb {
    font-size: 20px;
}

.description {
    font-size: 20px;
}

.route {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
}

.gotoroute{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
}

.poster {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.row span{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin: 10px;
}

.modal-content {
	background-color: #1e2229;
}

.modal-content .modal-header,
.modal-content .modal-footer {
	border-color: #424242;
}

.btn-close{
    background-color: white;
}

.upnavbar{
    height: 50px;
    justify-content: center;
}

