<form class="form" *ngIf="state">
    <div class="title">Reset password</div>
    <div class="subtitle"> Here you can easily get a new password.</div>
    <div class="input-container ic2">
        <input id="password" class="input" type="password" #txtPassword placeholder=" " />
        <div class="cut cut-short"></div>
        <label for="email" class="placeholderr">Password</label>
    </div>
    <div class="input-container ic2">
        <input id="password" class="input" type="password" #txtPasswordConfirm placeholder=" " />
        <div class="cut cut-short"></div>
        <label for="email" class="placeholderr">Confirm Password</label>
    </div>
    <div class=" my-3">
        <a class="register" routerLink="/login">Login</a>
    </div>
    <button type="text" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)" class="submit">submit</button>
</form>
<ngx-spinner type="ball-climbing-dot"></ngx-spinner>

<app-page-not-found *ngIf="!state"></app-page-not-found>