<div class="container py-3">
    <div class="row row-cols-md-3 g-4">
        <div class="col" *ngFor="let star of stars">
            <div class="card text-bg-dark border-warning">
                <a routerLink="/stardetail/{{star.id}}"><img [src]="star.imagePath !== null ? ImageURL + star.imagePath : ImageURL + 'defaultImage.jpg'" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a class="link" routerLink="/stardetail/{{star.id}}">
                        <h2 class="card-title">{{star.firstName + star.lastName}}</h2>
                    </a>
                    <hr>
                    <p class="card-text">{{getBio(star)}}... <a routerLink="/stardetail/{{star.id}}" *ngIf="readMore">Read More</a> </p>
                    <div class="card-body text-center">
                        <a routerLink="/stardetail/{{star.id}}" class="btn btn-warning" role="button">View details &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>