<div class="container-text">
	<form class="col-lg-2" role="search">
		<input type="search" class="form-control form-control-dark text-bg-dark" [(ngModel)]="filterText" [ngModelOptions]="{standalone:true}" placeholder="Search By Title..." aria-label="Search">
	</form>
</div>

<div class="container" *ngIf="dataLoaded == true">
	<div class="movie-card" *ngFor="let contentDetail of contentDetail | searchFilter:filterText | paginate: { itemsPerPage: itemPerPage, currentPage: p ,totalItems:totalContent}">
		<div class="movie-header">
			<a routerLink="/content/{{contentDetail.id}}"><img [src]="contentDetail.posterPath !== null ? posterURL+contentDetail.posterPath :'https://localhost:44341/images/defaultImage.jpg'">
				<div class="center">
					<i class="bi bi-play"></i>
				</div>
			</a>
		</div>
		<!--movie-header-->
		<div class="movie-content">
			<div class="movie-content-header">
				<a routerLink="/content/{{contentDetail.id}}">
					<h3 class="movie-title">{{contentDetail.title}}</h3>
				</a>
				<a (click)="addToWatchList(contentDetail.id)"><i class="bi bi-bookmark-plus"></i></a>

			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Category</label>
					<span>{{contentDetail.categoryName}}</span>
				</div>
				<div class="info-section">
					<label>Director Name</label>
					<span>{{contentDetail.directorName}}</span>
				</div>

				<div class="info-section">
					<label>IMDB</label>
					<span><i class="bi bi-star-fill"></i> {{contentDetail.imDbRating}}</span>
				</div>
			</div>
		</div>
		<!--movie-content-->
	</div>
</div>
<div class="mt-8 py-5 flex justify-center items-center text-center">
	<pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<!--movie-card-->

<!--DataLoaded False ise-->
<div class="container" *ngIf="dataLoaded == false">
	<div class="movie-card" aria-hidden="true" *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11]">
		<div class="movie-header placeholder-wave bg-secondary">
			<span class="placeholder w-100 h-100"></span>

		</div>
		<!--movie-header-->
		<div class="movie-content">
			<div class="movie-content-header">
				<a class="placeholder-wave">
					<h5 class="placeholder placeholder-lg col-7"></h5>
				</a>
				<a><i class="bi bi-emoji-frown"></i></a>

			</div>
			<div class="movie-info placeholder-wave">
				<div class="info-section">
					<span class="placeholder col-10"></span>
					<span class="placeholder col-10"></span>
				</div>
				<div class="info-section">
					<span class="placeholder col-10"></span>
					<span class="placeholder col-10"></span>
				</div>

				<div class="info-section">
					<span class="placeholder col-10"></span>
					<span class="placeholder col-10"></span>
				</div>
			</div>
		</div>
		<!--movie-content-->
	</div>
</div>