/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1rem;
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carouse-control-div {
  float: left;
  background-color: rgb(46, 46, 46);
  border: 2px solid;
  border-radius: 8px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  color: white;
  transition: opacity .15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.bi-arrow-right-short {
  float: left;
  font-size: 40px;
}

.bi-arrow-left-short {
  font-size: 40px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-5 {
  text-align: center;
}

.director-title{
  color: orange;
  margin-top: 1rem;
  font-weight: 400;
}

.director-heading{
  margin-top: 1rem;
  font-weight: 400;
  font-size: 17px;
}

.title-director{
  font-size: 2.7rem;
  line-height: 2.5rem;
  margin-bottom: 50px;
  font-weight: 700 !important;
  -webkit-font-smoothing: auto;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: .00735rem;
  color: white;
}

.marketing .col-lg-5 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: orange;
  font-size: 40px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */


.col-lg-5 {
  text-align: center;
}

/* Message
-------------------------------------------------- */

.form {
  background-color: #15172b;
  border-radius: 20px;
  height: auto;
  padding: 20px;
  width: auto;
  flex-wrap: wrap;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
}


.title {
  color: orange;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}


.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 25px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 80px;
}

.cut-short {
  width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholderr {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholderr,
.input:not(:placeholder-shown)~.placeholderr {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholderr {
  color: orange;
}

.input:focus~.placeholderr {
  color: orange;
}

.submit {
  background-color: orange;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: yellow;
}

.description{
  height: 120px;
}

.cancel{
  background-color: grey;
}
.carousel-inner{
  background-color: grey;
}