<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1800">
  <div class="carousel-inner">
    <div class="carousel-item {{getActiveString(poster)}} " *ngFor="let poster of poster">
      <img src="https://localhost:44341/Images/{{poster.imagePath}}" class="d-block w-100 " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <div class="carouse-control-div">
      <i class="bi bi-arrow-left-short"></i>
      <span class="visually-hidden">Previous</span>
    </div>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <div class="carouse-control-div">
      <i class="bi bi-arrow-right-short"></i>
      <span class="visually-hidden">Next</span>
    </div>
  </button>
</div>

<div class="container-fluid bg-dark">
  <div class="container text-center" style="max-width: 80%;">
    <div class="row justify-content-center">
      <div class="col-8 px-0">
        <div class="ratio ratio-16x9">
          <iframe class="youtube-frame" [src]="contentDetail.playbackURL | safe:'resourceUrl'" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4 px-0 bg-dark">
        <div class="clearfix mt-3">
          <img [src]="contentDetail.posterPath !== null ? posterURL + contentDetail.posterPath : posterURL + 'defaultImage.jpg'" style="max-width: 40%;" class="col-md-6 float-md-start mb-3 ms-md-3" alt="...">
          <p class="pt-3 fs-1" style="color: orange;">{{contentDetail.title}}</p>
          <hr>
          <p class="fs-5">Category Name : {{contentDetail.categoryName}}</p>
          <hr>
          <i class="bi bi-star-fill" style="color: yellow;"></i><span class="px-3 fs-6">IMDb Rating :</span><span class="fs-5">{{contentDetail.imDbRating}}</span>
          <hr>
          <p class="p-1 fs-5">Genres : {{contentDetail.genre}}</p>
          <hr>
          <p class="text-center fs-4">{{contentDetail.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container marketing pt-3">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h2 class="title-director">Directors</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-5" *ngFor="let director of directorDetail">
      <img class="rounded-circle" [src]="director.imagePath !== null ? directorImageURL+director.imagePath :'https://localhost:44341/images/directors/defaultImage.jpg'" alt="{{director.firstName + director.lastName}}"
        width="140" height="140">
      <h2 class="director-title">{{director.firstName + " "+ director.lastName}}</h2>
      <p class="director-heading">{{director.bio}}</p>
      <p><a class="btn btn-warning" routerLink="/directordetail/{{director.id}}" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
  <h2 class="title-director">Stars</h2>

  <div class="row featurette" *ngFor="let star of starDetail">
    <div class="col-md-7">
      <h3 class="featurette-heading">{{star.firstName + " " + star.lastName}}<span class="text-muted"> ({{star.bornDate | date:"mediumDate"}})</span></h3>
      <p class="lead">{{star.bio}}</p>
    </div>
    <div class="col-md-4 ">
      <img class="featurette-image" [src]="star.imagePath !== null ? starImageURL+star.imagePath :'https://localhost:44341/images/stars/defaultImage.jpg'" style="max-width: 90%;" alt="{{star.firstName + star.lastName}}">
    </div>
    <hr class="featurette-divider">
  </div>
</div>

<!-- Message / Content -->
<div class="container">
  <form class="form text-center" [formGroup]="commentAddForm">
    <div class="subtitle">Let's create comment!</div>
    <div class="row justify-content-center">

      <div class="col-md-4">
        <div class="input-container ic1">
          <input id="Email" class="input" type="email" placeholder=" " value="{{userName}}" disabled />
          <div class="cut cut-short"></div>
          <label for="Name" class="placeholderr">Name</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="input-container ic1 description">
          <textarea class="form-control input" id="floatingTextarea2" style="height: 100px" formControlName="message" placeholder=" "></textarea>
          <div class="cut"></div>
          <label for="description" class="placeholderr">Comment</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-2">
        <button type="text" (click)="addComment()" class="submit">Send Comment</button>
      </div>
      <div class="col-md-2">
        <button type="text" (click)="closeCommentModel()" class="submit cancel">Clear</button>
      </div>
    </div>
  </form>
</div>

<div class="container" *ngFor="let item of comment| slice:0:(commentLenght*3)">
  <div class="card text-bg-dark mb-3"  *ngIf="item.display" >
    <div class="card-body" >
      <div class="row">
        <div class="col-md-1">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="rounded-circle shadow-4" style="width: 100px;" alt="Avatar" />
        </div>
        <div class="col-md-10 mx-3">
          <h5>{{item.userName}}</h5>
          <h5 class="opacity-50">{{item.email}}</h5>
          <hr class="border border-warning border-1 opacity-75">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="card-title mx-3">
            <span class="fs-5">{{item.message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 text-center" *ngIf="commentLenght*3<(comment).length">
  <button (click)="commentLenght = commentLenght+1" mat-stroked-button color="accent">Show More..</button>
</div>