<form class="form text-center" *ngIf="directorAddForm" [formGroup]="directorAddForm">
    <div class="title">Director Add</div>
    <div class="subtitle">Let's create director!</div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-container ic1">
                <input id="firstName" formControlName="firstName" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="firstName" class="placeholderr">First Name</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-container ic1">
                <input id="lastName" class="input" formControlName="lastName" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="lastName" class="placeholderr">Last Name</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-container ic1">
                <input type="date" formControlName="bornDate" id="birthday" class="input">
                <div class="cut cut-short"></div>
                <label class="placeholderr" for="birthday">Birthday</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-container ic1">
                <select class="input form-select bg-dark" id="content" formControlName="contentId">
                    <option selected *ngFor="let content of content" [value]="content.id">
                        {{content.title}}
                    </option>
                </select>
                <div class="cut"></div>
                <label for="category" class="placeholderr">Content Name</label>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="input-container ic1 description">
                <textarea class="form-control input" style="height: 100px" formControlName="bio" placeholder=" "></textarea>
                <div class="cut"></div>
                <label class="placeholderr">Biography</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-2">
            <button type="text" (click)="add()" class="submit">Add</button>
        </div>
        <div class="col-md-2">
            <button type="text" (click)="closeContentModel()" class="submit cancel">Clear</button>
        </div>
    </div>
</form>
