@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background: #000000;
  font-family: 'Arimo', Arial, sans-serif;
  margin: 0;
  color: white;
  height: 100%;
  width: 100%;
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 149, 27);
}
